// Make sure the charset is set appropriately
@charset "UTF-8";

@import "bourbon";
@import "variables";
@import "mixins.scss";

//included in mixins.scss. Verbatim from Compass.
//See: http://compass-style.org/reference/compass/layout/sticky_footer/
@include sticky-footer(4em, "#layout", "#layout_footer", "#footer");

////////////
// LAYOUT
#layout{
	//makes sure body-height: 100% doesn't show vertical scrollbar when not needed
	overflow: auto;
}

////////////
//COMPONENTS

$backCol: #3790ff;
$backColDarkGrad: darken($backCol, 15%);
$colDarken: darken($backCol, 20%);

.container.top-bar {

	.top-bar-section{
		font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
		li a:not(.button):hover, li.active a:not(.button){
			background: #222;
		}
	}
	margin-bottom: 0;
}

h1,h2,h3,h4,h5,h6{
	@include transition(all 0.2s ease-in-out);
}

header{

	padding: 1.5em 0;
	background: $backCol;

	&.tall{
		padding: 4.5em 0;
   		// @include box-shadow(inset 0 1px 10px $backColDarkGrad);
        background-image: url('../img/cover.jpg');

   		@media #{$small} {
			padding: 5.5em 0;
			@include transition(all 0.2s ease-in-out);
   		}
	}
    img {
        margin: 0 auto;
    }
	margin-bottom: 2em;
}

section{
	margin-bottom: 1.5em;
}

article{
	$marg: 2em;
	margin: $marg 0;
	> header:first-child{
		margin-top: -$marg;
        h1 {
            color: white;
        }
	}

}

#footer {
	padding-top: 1em;
	color: white;
	background: $backCol;

	div, li{
		line-height: 1.5em ;
	}

	.foot-right{
		a{
			color: lighten($backCol, 50%);
			&:hover{
				text-decoration: underline;
			}
		}
		@media #{$small} {
			float: right;
			li{
				float: right
			}
   		}
	}
}

.faqpost-content{
	max-width: 45em;
}
